:root {
  --grey1: ##999999;
  --black1: #131313;
  --yellow1: #ffb320;
  --white1: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 500;
  color: var(--white1);
  font-family: "Permanent Marker", cursive;
}

p {
    color: var(--white1);
}

.about {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#3B3B3B, #333333);
}
.about-div {
}
.about-title {
    margin-bottom: 2rem;
}
.about-text {
}


/*------------------
  Header section
---------------------*/

.header-section {
  background: #999999aa;
  backdrop-filter: blur(0.5rem);
  border-bottom: 1px solid var(--yellow1);
  clear: both;
  overflow: hidden;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.header-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 2rem;
}

.div-logo {
  font-family: "Permanent Marker", cursive;
  display: flex;
  align-items: center;
}

.site-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-logo {
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: none;
  color: #fff;
  text-shadow: 0px 0px 1rem #000;
}

.user-panel {
  font-weight: 500;
  background: var(--yellow1);
  padding: 0.5rem 2rem;
  border-radius: 2.5rem;
}

.user-panel a {
  font-size: 0.8rem;
  color: var(--black1);
}

.main-menu {
  flex: 1;
  margin: 0 1rem;
}

.main-menu ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.main-menu ul li a {
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
}

.main-menu ul li a:hover {
  color: var(--yellow1);
}

.nav-switch {
  display: none;
}


/*----------------------
  Footer top Section
------------------------*/

.footer-top-section {
  background-image: url("../img/pattern.png");
  background-repeat: repeat;
  padding: 72px 0;
  box-shadow: inset 0 0 2rem 0.4em #00000077;
}
.footer-top-row{
  justify-content: center;
}
.footer-top-section .container {
  position: relative;
}

.footer-top-bg {
  position: absolute;
  left: -30px;
  bottom: -85px;
  z-index: 2;
}

.footer-logo {
  flex-direction: column;
  margin-bottom: 3rem;
}

.footer-logo > img{
  width: 10rem;
  height: 10rem;
}  


.footer-widget {
  padding: 40px 30px 7px;
  background: #252525;
  border: 1px solid #4a4a4a;
}

.footer-widget .fw-title {
  color: #fff;
  margin-bottom: 40px;
}

.latest-blog .lb-item {
  margin-bottom: 23px;
  overflow: hidden;
}

.latest-blog .lb-item .lb-thumb {
  width: 97px;
  height: 97px;
  float: left;
}

.latest-blog .lb-item .lb-content {
  padding-left: 110px;
}

.latest-blog .lb-item .lb-content .lb-date {
  font-size: 12px;
  color: #ffb320;
  margin-bottom: 8px;
}

.latest-blog .lb-item .lb-content p {
  font-size: 12px;
  margin-bottom: 5px;
  color: #d3d3d3;
}

.latest-blog .lb-item .lb-content .lb-author {
  font-size: 12px;
  color: #d3d3d3;
  opacity: 0.45;
}

.top-comment {
  overflow: hidden;
}

.top-comment .tc-item {
  margin-bottom: 23px;
  overflow: hidden;
}

.top-comment .tc-item .tc-thumb {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  float: left;
}

.top-comment .tc-item .tc-content {
  padding-left: 100px;
}

.top-comment .tc-item .tc-content p {
  font-size: 12px;
  color: #d3d3d3;
  margin-bottom: 5px;
}

.top-comment .tc-item .tc-content p a {
  color: #ff205f;
}

.top-comment .tc-item .tc-content p span {
  color: #7a7a7a;
}

.top-comment .tc-item .tc-content .tc-date {
  font-size: 12px;
  color: #ffb320;
}

/*----------------------
  Footer Section
------------------------*/

.footer-section {
  padding: 18px 0 16px;
  overflow: hidden;
  background: #252525;
}

.footer-menu {
  list-style: none;
  float: right;
}

.footer-menu li {
  display: inline;
}

.footer-menu li a {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: #aeaeae;
  margin-left: 30px;
}

.footer-text{
  text-align: center;
}
.copyright {
  float: left;
  margin-bottom: 0;
  font-weight: 500;
  color: #aeaeae;
}