.section-title {
  text-align: center;
  padding: 2.5rem 0;
  color: var(--white1);
}

.presentention {
  background-attachment: fixed;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 5rem;
}

.presentention p {
  font-size: 1.2rem;
}


/*---------------------
      Latest News section
    -----------------------*/

.latest-championships-section {
  overflow: hidden;
  display: block;
  clear: both;
  background: var(--black1);
  padding: 1.5rem 0;
  position: relative;
}

.lc-title {
  position: absolute;
  height: 100%;
  width: 29%;
  left: 0;
  top: 0;
  text-align: right;
  padding-top: 1.5rem;
  padding-right: 5rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--white1);
  background: var(--yellow1);
  z-index: 1;
}

.news-ticker {
  width: 71%;
  float: right;
  overflow: hidden;
  display: inline-block;
}

.news-ticker-contant .nt-item {
  margin-right: 35px;
  color: #fff;
  display: inline-block;
}

.news-ticker-contant .nt-item span {
  margin-right: 35px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  padding: 4px 20px;
}

.news-ticker-contant .nt-item span.new {
  background: #ff205f;
}

.news-ticker-contant .nt-item span.strategy {
  background: #4eae60;
}

.news-ticker-contant .nt-item span.racing {
  background: #694eae;
}

/*------------------
      Feature Section
    ---------------------*/

.feature-item {
  height: fit-content;
}

.fi-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.fi-div{
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-end;
}

/*----------------------
      Recent Game Section
    ------------------------*/

.recent-game-section {
  background-color: #eef2f6;
  border-top: 1px solid #d6dee7;
  border-bottom: 1px solid #d6dee7;
}

.recent-game-item .rgi-thumb {
  height: 204px;
  padding: 25px 28px;
}

.recent-game-item .rgi-content {
  padding: 34px 22px 20px;
  background: #fff;
  border: 1px solid #d6dee7;
  border-top: none;
  position: relative;
}

.recent-game-item .rgi-content h5 {
  margin-bottom: 20px;
  line-height: 1.5;
}

.recent-game-item .rgi-content .comment {
  font-size: 12px;
  color: #737373;
}

.recent-game-item .rgi-extra {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 70px;
}

.recent-game-item .rgi-extra .rgi-star,
.recent-game-item .rgi-extra .rgi-heart {
  height: 35px;
  width: 35px;
  float: left;
  display: block;
  padding: 6px 8px 0;
}

.recent-game-item .rgi-extra .rgi-star {
  background: #ffb320;
}

.recent-game-item .rgi-extra .rgi-heart {
  background: #ff205f;
}

/*----------------------
      Tournaments Section
    ------------------------*/
.tournament-row {
  display: grid;
  gap: 2.5rem;
  grid-template: 1fr 1fr / 1fr 1fr;
  justify-content: center;
  width: 100%;
}
.tournaments-section > h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--white1);
}

.tournament-title {
  display: inline-block;
  padding: 7px 25px;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  background: #fb6e10;
}

.tournament-item {
  background: #252525;
  border-radius: 0.5rem;
}

.ti-notic {
  background: #ffb320;
  box-shadow: 0 0 1rem 0.2rem var(--black1);
  color: #131313;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 700;
  left: 1rem;
  padding: 0.5rem 1.2rem;
  position: relative;
  text-transform: uppercase;
  top: -0.5rem;
}

.tournament-item .ti-content {
  overflow: hidden;
}

.tournament-item .ti-thumb {
  width: 168px;
  height: 178px;
  float: left;
}
.row-championships-available{
  min-height: 20rem;
}

.tournament-item .ti-text h4 {
  color: #ffb320;
  margin-bottom: 20px;
}

.tournament-item .ti-text ul {
  list-style: none;
  margin-bottom: 20px;
}

.tournament-item .ti-text ul li {
  color: #fff;
  font-size: 12px;
  margin-bottom: 6px;
}

.tournament-item .ti-text ul li span {
  color: #9a9a9a;
}

.tournament-item .ti-text p {
  font-size: 12px;
  margin-bottom: 0;
}

.tournament-item .ti-text p span {
  font-weight: 500;
  color: #ffb320;
}

/*----------------------
      Results Section
    ------------------------*/
.results-section {
  display: flex;
  flex-direction: column;
  background-color: #3b3b3b;

  background: linear-gradient(#3b3b3b, #333333);
}

.results-title {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--white1);
}

/*----------------------
      Review Section
    ------------------------*/

.review-section {
  background: linear-gradient(#333333, #3b3b3b);
  padding: 3rem 0;
}
.review-row {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.card-body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
}
.list-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
}
.list-group-item,
.list-group {
  border-radius: 0.5rem;
}
.list-group-item {
  background-color: #3b3b3b;
  color: var(--white1);
  border: none;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}