/*---------------------
  Helper CSS
-----------------------*/
.section-title {
  text-align: center;
  margin-bottom: 75px;
}

.section-title h2 {
  padding-top: 10px;
  font-size: 36px;
}

.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.spad {
  padding-top: 97px;
  padding-bottom: 97px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
  color: #fff;
}

.rating i {
  color: #fbb710;
}

.rating .is-fade {
  color: #e0e3e4;
}

/*---------------------
  Commom elements
-----------------------*/

/* buttons */
.site-btn {
  display: inline-block;
  text-align: center;
  font-size: 15px;
  color: var(--black1);
  padding: 16px 30px;
  min-width: 153px;
  border-radius: 50px;
  font-weight: 500;
  border: none;
  background: var(--yellow1);
  cursor: pointer;
}

.site-btn.btn-sm {
  padding: 10px 30px;
  min-width: 163px;
}

.site-btn:hover {
  color: var(--black1);
}

.cata {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  padding: 6px 25px;
}

.cata.new {
  background: #ff205f;
}

.cata.strategy {
  background: #4eae60;
}

.cata.racing {
  background: #694eae;
}

.cata.adventure {
  background: #40abf5;
}

/* Preloder */
#preloder {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  background: #fff;
}

.loader {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  border-radius: 60px;
  animation: loader 0.8s linear infinite;
  -webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    border: 4px solid #673ab7;
    border-left-color: transparent;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
  50% {
    -webkit-transform: rotate(180deg);
    border: 4px solid #673ab7;
    border-left-color: transparent;
  }
  100% {
    -webkit-transform: rotate(360deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
}

/*-----------------
  Categories page
--------------------*/

.recent-game-page .recent-game-item {
  margin-bottom: 42px;
}

/*-----------------
  Single blog page
--------------------*/

.single-blog-page .blog-thumb {
  height: 424px;
  padding-top: 24px;
  padding-left: 29px;
  margin-bottom: 40px;
  position: relative;
}

.single-blog-page .blog-thumb .rgi-extra {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 70px;
}

.single-blog-page .blog-thumb .rgi-extra .rgi-star,
.single-blog-page .blog-thumb .rgi-extra .rgi-heart {
  height: 35px;
  width: 35px;
  float: left;
  display: block;
  padding: 6px 8px 0;
}

.single-blog-page .blog-thumb .rgi-extra .rgi-star {
  background: #ffb320;
}

.single-blog-page .blog-thumb .rgi-extra .rgi-heart {
  background: #ff205f;
}

.single-blog-page .blog-content h3 {
  margin-bottom: 10px;
}

.single-blog-page .blog-content .meta-comment {
  display: block;
  font-size: 12px;
  color: #737373;
  margin-bottom: 25px;
}

.single-blog-page .blog-content p {
  margin-bottom: 25px;
}

.comment-warp {
  padding-top: 50px;
}

.comment-title {
  margin-bottom: 45px;
}

.comment-list {
  list-style: none;
}

.comment-list li {
  margin-bottom: 40px;
  overflow: hidden;
}

.comment-list .comment .comment-avator {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  float: left;
}

.comment-list .comment .comment-content {
  padding-left: 100px;
}

.comment-list .comment .comment-content h5 {
  font-size: 12px;
  color: #131313;
  font-weight: 400;
  margin-bottom: 10px;
}

.comment-list .comment .comment-content h5 span {
  color: #ffb320;
  padding-left: 18px;
}

.comment-list .comment .comment-content p {
  font-size: 12px;
  margin-bottom: 5px;
}

.comment-list .comment .comment-content .reply {
  font-size: 12px;
  color: #ff1d55;
}

.comment-form-warp {
  padding-top: 30px;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form textarea {
  width: 100%;
  height: 41px;
  border: 1px solid #d6dee7;
  padding-left: 22px;
  padding-right: 45px;
  font-size: 12px;
  margin-bottom: 24px;
}

.comment-form textarea {
  height: 243px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 38px;
}

/*-----------------
  Review page
--------------------*/

.review-page .review-item {
  margin-bottom: 63px;
}

.review-page .review-item .review-text h4 {
  margin-bottom: 10px;
}

.review-dark .review-item .review-text p {
  color: #b5b5b5;
}

.review-section.review-dark {
  background-position: center top;
}

/*-----------------
  Community page
--------------------*/

.community-page .site-pagination {
  padding-top: 62px;
}

.community-warp {
  max-width: 1367px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.28);
}

.community-post-list {
  list-style: none;
}

.community-post-list li {
  padding: 33px 55px 65px;
  margin-bottom: 21px;
  overflow: hidden;
  border: 1px solid #878787;
  background: #1f2225;
}

.community-post-list .community-post .author-avator {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  float: left;
}

.community-post-list .community-post .post-content {
  padding-left: 100px;
}

.community-post-list .community-post .post-content h5 {
  font-size: 16px;
  color: #ff205f;
  font-weight: 400;
  margin-bottom: 10px;
}

.community-post-list .community-post .post-content h5 span {
  color: #7a7a7a;
  padding-left: 18px;
}

.community-post-list .community-post .post-content p {
  color: #fff;
  margin-bottom: 5px;
}

.community-post-list .community-post .post-content .post-date {
  font-size: 12px;
  color: #ffb320;
  margin-bottom: 18px;
}

.community-post-list .attachment-file {
  padding-top: 60px;
  max-width: 435px;
}

.community-top-title {
  margin-bottom: 50px;
}

.community-filter {
  margin-bottom: 80px;
}

.community-filter label {
  font-size: 18px;
  color: #1f2225;
  font-weight: 500;
  padding-right: 10px;
}

.community-filter select {
  width: 201px;
  height: 42px;
  font-size: 14px;
  padding: 0 18px;
  color: #1f2225;
  font-weight: 500;
}

/*-----------------
  Contact page
--------------------*/

.map {
  height: 515px;
  background: #ddd;
  margin-bottom: 90px;
}

.contact-info-list {
  padding-top: 55px;
  padding-bottom: 20px;
  list-style: none;
}

.contact-info-list li {
  margin-bottom: 30px;
}

.contact-info-list .cf-left {
  width: 95px;
  float: left;
  font-size: 16px;
  font-weight: 700;
  color: #ffb320;
}

.contact-info-list .cf-right {
  color: #878787;
  font-size: 15px;
  padding-left: 100px;
}

.social-links a {
  color: #474747;
  font-size: 16px;
  margin-left: 10px;
  margin-right: 20px;
}

/*------------------
  Responsive
---------------------*/

@media (min-width: 1200px) {
  .container {
    max-width: 1176px;
  }
}

/* Medium screen : 992px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-slider .owl-dots {
    max-width: 930px;
  }
  .review-section {
    background-position: right 10% top;
  }
  .review-item .review-cover {
    height: 280px;
  }
  .latest-blog .lb-item .lb-thumb {
    width: 55px;
    height: 55px;
  }
  .latest-blog .lb-item .lb-content {
    padding-left: 67px;
  }
  .top-comment .tc-item .tc-content {
    padding-left: 95px;
  }
  .footer-top-bg {
    max-width: 370px;
  }
  .page-info-section .pi-content h2 {
    font-size: 50px;
  }
}

/* Tablet :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .site-logo {
    max-width: 130px;
  }
  /* .main-menu {
		margin-right: 25px;
	} */
  /* .main-menu ul li a {
		margin-left: 15px;
	} */
  .user-panel {
    padding: 8px 15px;
  }
  .hero-slider .hs-text h2 {
    font-size: 50px;
  }
  .hero-slider .owl-dots {
    max-width: 690px;
  }
  .recent-game-item {
    margin-bottom: 42px;
  }
  .tournament-item .ti-thumb {
    width: 100%;
    height: 230px;
    float: none;
  }
  .tournament-item .ti-text {
    padding-left: 0;
    padding-top: 20px;
  }
  .review-section {
    background-position: left top;
  }
  .review-item {
    margin-bottom: 63px;
  }
  .latest-blog .lb-item .lb-thumb {
    width: 80px;
    height: 80px;
  }
  .latest-blog .lb-item .lb-content {
    padding-left: 95px;
  }
  .footer-top-bg {
    display: none;
  }
}

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {
  .header-section {
    overflow: visible;
    padding: 23px 0;
  }
  .tournament-row{
    grid-template: 1fr 1fr 1fr 1fr / 1fr;
  }
  .presentention-div {
    padding: 10rem 0;
  }
  .presentention-div h1{
    font-size: 3rem;
  }
  .header-section .container {
    position: relative;
  }
  .site-logo {
    float: none;
    padding-top: 0;
  }
  .header-container {
    justify-content: space-between;
  }
  .main-menu {
    display: none;
    position: absolute;
    top: calc(100% + 24px);
    left: 0;
    width: 100%;
    background: #ffffff;
    z-index: 999;
  }
  .main-menu ul li {
    display: block;
    border-bottom: 1px solid #ececec;
  }
  .main-menu ul li a {
    margin-left: 0;
    color: #131313;
    padding: 13px 26px;
  }
  .nav-switch {
    color: #fff;
    display: block;
    float: right;
    cursor: pointer;
    font-size: 25px;
  }
  .user-panel {
    display: none;
  }
  .hero-slider .hs-item {
    height: 700px;
  }
  .hero-slider .hs-text h2 {
    font-size: 36px;
  }
  .hero-slider .owl-dots {
    max-width: 510px;
  }
  .ln-title {
    padding-right: 30px;
  }
  .feature-item {
    margin-bottom: 30px;
  }
  .recent-game-item {
    margin-bottom: 42px;
  }
  .review-section {
    background-position: left top;
  }
  .review-item {
    margin-bottom: 63px;
  }

  .footer-top-bg {
    display: none;
  }
  .footer-section {
    padding: 30px 0 20px;
    text-align: center;
  }
  .footer-menu li:first-child a {
    margin-left: 0;
  }
  .footer-menu,
  .copyright {
    float: none;
  }
  .copyright {
    padding-top: 15px;
  }
  .community-post-list li {
    padding: 30px 25px 30px;
  }
  .page-info-section .pi-content h2 {
    font-size: 50px;
  }
}

/* Medium Mobile :480px. */

@media only screen and (max-width: 576px) {
  .hero-slider .owl-dots {
    padding: 0 15px;
  }
  .feature-section {
    padding-left: 15px;
    padding-right: 15px;
  }
  .community-post-list .community-post .author-avator {
    float: none;
  }
  .community-post-list .community-post .post-content {
    padding-left: 0;
    padding-top: 30px;
  }
}

/* Small Mobile :320px. */

@media only screen and (max-width: 479px) {
  .hero-slider .hs-item {
    height: auto;
    padding: 150px 0;
  }
  .ln-title {
    display: none;
  }
  .news-ticker {
    width: 100%;
  }
  .tournament-item .ti-thumb {
    width: 100%;
    height: 230px;
    float: none;
  }
  .tournament-item .ti-text {
    padding-left: 0;
    padding-top: 20px;
  }
  .latest-blog .lb-item .lb-thumb {
    width: 55px;
    height: 55px;
  }
  .latest-blog .lb-item .lb-content {
    padding-left: 67px;
  }
  .top-comment .tc-item .tc-content {
    padding-left: 85px;
  }
  .site-btn {
    padding: 11px 30px;
    min-width: 145px;
  }
  .comment-list .comment .comment-avator {
    float: none;
  }
  .comment-list .comment .comment-content {
    padding-left: 0;
    padding-top: 20px;
  }
  .footer-widget {
    padding: 40px 15px 7px;
  }
  .page-info-section .pi-content h2 {
    font-size: 40px;
  }
}
