<div class="container-fluid text-white px-4 text-center">
  <div class="row align-content-center" style="height: calc(100vh - 4.6rem);">
    <div class="col-md-12">
      <h1 class="display-4">Página não encontrada</h1>
      <p class="lead">
        A página que você está procurando não existe.
      </p>
      <p class="lead">
        <a href="/" class="btn btn-primary btn-lg">
          Voltar para a página inicial
        </a>
      </p>
    </div>
  </div>
</div>