<section class="about text-white">
  <div class="about-div">
    <h1 class="about-title">Sobre nós</h1>
    <p class="about-text">
      A equipe começou os trabalhos em 2022 com o intuito de fazer um sistema
      para um trabalho de faculdade e até então seguimos adicionando novas
      funcionalidades.
    </p>
    <p class="about-text">
      Nossa equipe está a disposição em caso de duvidas ou sugestões no email
      <a href="gochamp@gochamp.com">gochamp@gochamp.com</a>.
    </p>
  </div>
</section>