<section
  class="row justify-content-center align-content-center px-5 py-5"
  style="min-height: 30rem;"
>
  <h2>Obrigado por escolher nossa plataforma</h2>
  <p>
    Estamos trabalhando arduamente para melhorar sua experiencia em administrar
    campeonatos mais.</p>
  <p>
    Jaja o nosso dashboard irá contar com novas funcionalidades para a criação
    de uma mini rede social que voce poderar adicionar seus amigos e convidalos
    para seus times.</p>
</section>