<div class="d-flex flex-row align-content-center justify-content-center py-3">

  <img
    src="/img/teams_profiles/{{team.image}}"
    alt="foto de perfil do time {{team.name}}"
  />

  <h2>{{team.name}}</h2>

</div>