.about {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#3B3B3B, #333333);
}
.about-div {
}
.about-title {
    margin-bottom: 2rem;
}
.about-text {
    font-size: large;
}
