.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#3B3B3B, #333333);
    padding-top: 10rem;
}

.main-div{
    width: 85%;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--yellow1);
    border-radius: 0.5rem;
}

.register-championship_form{
    display: flex;
    flex-direction: column;
    width: 85%;
    gap: 1rem;
    margin: 2rem 0;
    border-radius: 0.5rem;
    padding: 1rem;
}

.register-championship_form label {
    min-width: 11rem;
    height: 2rem;
    background-color: #3D3D3D;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#fff;
}

.register-championship_form input {
    width: 100%;
    border-radius: 0.5rem;
    border: none;
    background: #ffffff33;
    color: #fff;
    padding: 0.5rem 1rem;
  }

.register-championship_form-row {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.main-title{
    font-size: 2rem;
}
.main-div{
    display: flex;
}
.championship-picture{
    width: 10rem;
}