:root {
  --grey1: ##999999;
  --black1: #131313;
  --yellow1: #ffb320;
  --white1: #fff;
}

/* *{
  font-family: "Permanent Marker", cursive;
} */
html,
body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f555;
}

*::-webkit-scrollbar {

  width: 0.5rem;
  height: 0.5rem;
  background-color: #333333;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(330deg, #f6d365 0%, #fda085 100%);
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
* {
  scrollbar-color: #f6d365 #f5f5f555;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 500;
  font-family: "Permanent Marker", cursive;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

.darkGrey-bg {
  background: linear-gradient(#222222, #333333);
}

.gradientDarkGrey-bg {
  background: rgb(59, 59, 59);
  background: linear-gradient(
    90deg,
    rgba(59, 59, 59, 1) 0%,
    rgba(34, 34, 34, 1) 75%,
    rgba(255, 0, 0, 0) 100%
  );
}

.inset-shadow {
  box-shadow: inset 0 0 1rem 0.2rem var(--black1);
}

.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Preloder */
#preloder {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  background: #fff;
}

.loader {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  border-radius: 60px;
  animation: loader 0.8s linear infinite;
  -webkit-animation: loader 0.8s linear infinite;
}

.pattern {
  background-image: url("../img/pattern.png");
  background-repeat: repeat;
  padding: 72px 0;
  box-shadow: inset 0 0 2rem 0.4em #00000077;
}
@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    border: 4px solid #673ab7;
    border-left-color: transparent;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
  50% {
    -webkit-transform: rotate(180deg);
    border: 4px solid #673ab7;
    border-left-color: transparent;
  }
  100% {
    -webkit-transform: rotate(360deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
}
