.header-section {
  background: linear-gradient(
    180deg,
    rgba(34, 34, 34, 1) 0%,
    rgba(34, 34, 34, 0) 100%
  );
  clear: both;
  overflow: hidden;
  padding: 0.25rem 0;
  position: fixed;
  width: 100%;
  z-index: 4;
}
.div-logo {
  font-family: "Permanent Marker", cursive;
  display: flex;
  align-items: center;
}

.site-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-logo {
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: none;
  color: #fff;
  text-shadow: 0px 0px 1rem #000;
}

.user-panel {
  font-weight: 500;
  background: var(--yellow1);
  padding: 0.5rem 2rem;
  border-radius: 2.5rem;
}

.user-panel a {
  font-size: 0.8rem;
  color: var(--black1);
}

.main-menu {
  flex: 1;
  margin: 0 1rem;
}

.main-menu ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}
.main-menu ul li {
  width: max-content;
}


.main-menu ul li a {
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
}

.main-menu ul li a:hover {
  color: var(--yellow1);
}

.nav-switch {
  display: none;
}
